body{
    background-image: url(../imagenes/mondrian.jpg);
}
#cabecera{
    background-image: url(../imagenes/rothko.jpg);
}
#indice{
    background-image: url(../imagenes/vangogh2.jpg);
}
#contenido{
    background-image: url(../imagenes/monet2.jpg);
}
#piedepagina{
    background-image: url(../imagenes/kandinsky.jpg);
}